body {
    background-color: #A9CCE3;
    color: #18254E;
}

/*NAVBAR*/
#dvlpz-nav {
    background-color: #18254E !important;
}

/*LOGO*/
#dvlpz-logo {
    padding: 0;
    margin-right: 20px;
}

/*BOTTONE ROSSO*/
.dvlpz_red_button {
    background-color: #BF0A30 !important;
}

/*BOTTONE BLUE*/
.dvlpz_blue_button {
    background-color: #18254E !important;
    color: #A9CCE3 !important;
}

/*I LINK DELLE ROTTE*/
#home_link, #test_link {
    margin-right: 15px;
    padding: 0;
    background-color: transparent !important;
    border: none;
    color: #A9CCE3 !important;
}